<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About ...</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="companyInfo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/320px-SpaceX-Logo.svg.png">
    <ion-card-header>
      <h2>
        {{companyInfo.name}}
      </h2>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>Founder :</ion-col>
          <ion-col col-6>{{ companyInfo.founder }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Creation date :</ion-col>
          <ion-col col-6>{{ companyInfo.founded }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Employees :</ion-col>
          <ion-col col-6>{{ companyInfo.employees }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Vehicles :</ion-col>
          <ion-col col-6>{{ companyInfo.vehicles }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Launch sites :</ion-col>
          <ion-col col-6>{{ companyInfo.launch_sites }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Test sites :</ion-col>
          <ion-col col-6>{{ companyInfo.test_sites }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>CEO :</ion-col>
          <ion-col col-6>{{ companyInfo.ceo }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>CTO :</ion-col>
          <ion-col col-6>{{ companyInfo.cto }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>COO :</ion-col>
          <ion-col col-6>{{ companyInfo.coo }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>CTO Propulsion :</ion-col>
          <ion-col col-6>{{ companyInfo.cto_propulsion }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Valuation :</ion-col>
          <ion-col col-6>{{ companyInfo.valuation }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Headquarter :</ion-col>
          <ion-col col-6>{{ companyInfo.headquarters.city }}, {{ companyInfo.headquarters.state }}</ion-col>
        </ion-row>
      </ion-grid>
      <h2>
        Summary
      </h2>
      <p>{{companyInfo.summary}}</p>
      <button ion-button (click)="goToHistories()">View company's history</button>
    </ion-card-content>
  </ion-card>
</ion-content>