<!--
  Generated template for the LaunchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title float-left>launches</ion-title>
  </ion-navbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>From</ion-label>
          <ion-datetime (ionChange)="formChanged()" displayFormat="DD/MMM/YYYY" [(ngModel)]="launchesForm.startDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>To</ion-label>
          <ion-datetime (ionChange)="formChanged()" displayFormat="DD/MMM/YYYY" [(ngModel)]="launchesForm.endDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Success</ion-label>
          <ion-checkbox (ionChange)="formChanged()" [(ngModel)]="launchesForm.success"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Failure</ion-label>
          <ion-checkbox (ionChange)="formChanged()" [(ngModel)]="launchesForm.failure"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Rockets</ion-label>
          <ion-select (ionChange)="formChanged()" [(ngModel)]="launchesForm.rocket" multiple="false">
            <ion-option [value]="null">all</ion-option>
            <ion-option *ngFor="let rocket of rockets" [value]="rocket">{{ rocket.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let launch of launches" (click)="goToDetails(launch)">
      <ion-avatar item-start>
        <img *ngIf="launch.links.mission_patch_small" [src]="launch.links.mission_patch_small" />
        <img *ngIf="!launch.links.mission_patch_small" src='https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX27955281.jpg' />
      </ion-avatar>
      <h2>
        <div float-left>{{ launch.mission_name }}</div>
        <div float-right>
          <ion-badge *ngIf="launch.launch_success == true" color="secondary">success</ion-badge>
          <ion-badge *ngIf="launch.launch_success == false" color="danger">failure</ion-badge>
        </div>
      </h2>
      <br/>
      <p>{{ launch.details }}</p>
      <p>{{ launch.launch_year }}</p>
    </button>
  </ion-list>

</ion-content>