<ion-header>
    <ion-navbar>
        <ion-title>{{ currentCapsule.name || currentCapsule.rocket_name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
    <div class="header-image"></div>
    <div class="main-content" text-wrap text-center>
        <div class="circular"></div>
        <h2>{{ currentCapsule.name }} </h2>
        <p>{{ currentCapsule.type }}</p>
        <p class="profile-description"> 
            {{ currentCapsule.name }} is a reusable spacecraft developed by SpaceX,
             an American private space transportation company
              based in Hawthorne, California. The material of {{ currentCapsule.name }} is composed of {{ currentCapsule.heat_shield.material }}  is 
              launched into space by the SpaceX Falcon 9
               two-stage-to-orbit launch vehicle.
          </p>
        <hr>
        <ion-list no-lines>
            <ion-item>
                <ion-icon ios="ios-aperture" md="md-aperture"  color="primary" item-start></ion-icon>
                <p>Heat Shield</p>
                {{ currentCapsule.heat_shield.material }}
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-flame" md="md-flame" color="primary" item-start></ion-icon>
                <p>thrusters</p>
                {{ currentCapsule.heat_shield.temp_degrees }}
             </ion-item> 
             <ion-item>
                <ion-icon ios="ios-git-compare" md="md-git-compare" md="md-alert"   color="primary" item-start></ion-icon>
                <p>Partner</p>
                {{ currentCapsule.heat_shield.dev_partner }}
            </ion-item>
        </ion-list>
    </div>
</ion-content>