

    .header-image {
        background-image: url(https://twistedsifter.files.wordpress.com/2018/02/spacex-falcon-heavy-launch-tesla-to-mars-1.jpg);
        height: 30vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: -1;
    }
    .main-content {
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }
    .circular {
        width: 100px;
        height: 100px;
        position: inherit;
        border-radius: 50%;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border: solid white;
        background: url(https://www.italiaglobale.it/wp-content/uploads/2016/04/Space-X-con-Falcon-9-inizia-l%E2%80%99era-dei-razzi-low-cost.jpg) no-repeat;
        background-size: cover;
        margin-top: -70px;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 50px;
    }
    .profile-description {
        font-size: 15px;
        margin-block-start: 5%;
        margin-block-end: 5%;
        color: #888;
    }
