<ion-header>
    <ion-navbar>
        <ion-title>{{ currentRocket.name || currentRocket.rocket_name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
    <div class="header-image"></div>
    <div class="main-content" text-wrap text-center>
        <div class="circular"></div>
        <h2>{{ currentRocket.name }} </h2>
        <p>{{ currentRocket.country }}</p>
        <p class="profile-description">{{ currentRocket.description }}</p>
        <hr>
        <ion-list no-lines>
            <ion-item>
                <ion-icon ios="ios-calendar" md="md-calendar" color="primary" item-start></ion-icon>
                <p>First flight</p>
                {{ currentRocket.first_flight }}
            </ion-item>
            <ion-item>
                <ion-icon item-start name="alert" ios="ios-alert" md="md-alert" color="primary"></ion-icon>
                <p>Company</p>
                {{ currentRocket.company }}
             </ion-item> 
            <ion-item>
                <ion-icon item-start ios="logo-usd" md="logo-usd" color="secondary"></ion-icon>
                <p>cost per launch</p>
               {{ currentRocket.cost_per_launch }}
             </ion-item>
            <ion-item> 
                <ion-icon item-start name="add"  ios="ios-add" md="md-add"  color="secondary"></ion-icon>
                <p>stages</p>
                {{ currentRocket.stages }}
            </ion-item>
        </ion-list>
    </div>
</ion-content>