<!--
  Generated template for the LaunchDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ launch.mission_name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img *ngIf="launch.links.mission_patch_small" [src]="launch.links.mission_patch" />
  <img *ngIf="!launch.links.mission_patch_small" src='https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX27955281.jpg' />

  <h2 float>Event</h2>
  <div float-right>
      <ion-badge *ngIf="launch.launch_success == true" color="secondary">success</ion-badge>
      <ion-badge *ngIf="launch.launch_success == false" color="danger">failure</ion-badge>
  </div>
  <p>Flight n.{{ launch.flight_number }}</p>
  <p>Launch date {{ launch.launch_date_utc | date }} (UTC)</p>
  <p>At {{ launch.launch_site.site_name_long }}</p>

  <h2>Technical specifications</h2>
  <a (click)="redirectToRocketDetails(launch.rocket.rocket_id)">
    Rocket: {{ launch.rocket.rocket_name }} of type {{ launch.rocket.rocket_type }}
  </a>
  <p>{{ launch.details }}</p>
  <div *ngIf="recycledParts.length != 0">
    Recycled parts:
    <ion-list *ngFor="let part of recycledParts">
      {{ part }}
    </ion-list>
  </div>

  <h2>Links</h2>
  <div *ngIf="launch.links.article != null">
    <a (click)="redirectToWeb(launch.links.article)">article</a>
  </div>
  <div *ngIf="launch.links.wikipedia != null">
    <a (click)="redirectToWeb(launch.links.wikipedia)">wikipedia</a>
  </div>
  <div *ngIf="launch.links.video_link != null">
    <a (click)="redirectToWeb(launch.links.video_link)">video</a>
  </div>
  <div *ngIf="launch.links.reddit_campaign != null">
    <a (click)="redirectToWeb(launch.links.reddit_campaign)">reddit</a>
  </div>


</ion-content>
