<!--
  Generated template for the VehiculesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

-->
<ion-header>

<ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-title>Rockets</ion-title>
</ion-navbar>
</ion-header>
  
<ion-content class="card-background-page">
    <ion-searchbar
    placeholder="Trouver une rocket..."
    [(ngModel)]="searchRocket"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
    <ion-item *ngFor="let rocket of displayedRocket" (click)="goToVehiculesPagesDetails(rocket)">
      <ion-card>
        <img src="https://cdn.vox-cdn.com/thumbor/4aLrrzG7Bwcgz-ksVZgSUgzMQS4=/0x0:3000x2000/1280x854/cdn.vox-cdn.com/uploads/chorus_image/image/50143431/27776229243_a0674e590f_o.0.0.jpg"/>
        <div class="card-title">{{ rocket.name }}</div>
      </ion-card>
    </ion-item>
  </ion-content>