<!--
  Generated template for the HistoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Histories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let history of histories" (click)="goToHistoryDetail(history)">
      <h2>{{ history.title }}</h2>
      <p>{{ history.event_date_utc | date }}</p>
    </button>
  </ion-list>
</ion-content>