<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SpaceX</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>SpaceX</h3>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/320px-SpaceX-Logo.svg.png">
  <ion-card *ngIf="true" class="launch-count-card">
    <ion-card-header>
      <h2>
        Launch count of this year :
      </h2>
    </ion-card-header>
    <ion-card-content>
      <h1>{{launchCount}}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="launch" class="launch-count-card">
    <ion-card-header>
      <h2>
        Next launch :
      </h2>
    </ion-card-header>
    <ion-card-content>
      <h1>in {{nextLaunchTimeStr  | date: 'hh:mm:ss' }}</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
