<ion-header>
  <ion-navbar >
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Statistic
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-card>
      <ion-card-header>
        Number of launches
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
</ion-content>