<!--
  Generated template for the CapsuleListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the VehiculesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Capsules</ion-title>
  </ion-navbar>
  </ion-header>
    
  <ion-content class="card-background-page">
      <ion-searchbar
      placeholder="Trouver une capsule..."
      [(ngModel)]="searchCapsule"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
      <ion-item *ngFor="let capsule of displayedCapsule" (click)="goToCapsuleDetailsPage(capsule)">
        <ion-card>
          <img src="https://www.gqmagazine.fr/uploads/images/thumbs/201452/86/dragon_2705.jpeg_north_640x361_transparent.jpg"/>
          <div class="card-title">{{ capsule.name }}</div>
        </ion-card>
      </ion-item>
    </ion-content>