<!--
  Generated template for the HistoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>History detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="currentHistory">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/SpaceX-Logo.svg/320px-SpaceX-Logo.svg.png">
    <ion-card-header>
      <h2>
        {{currentHistory.title}}
      </h2>
    </ion-card-header>
    <ion-card-content>
      <h2>
        Detail
      </h2>

      <p>{{currentHistory.details}}</p>

      <p>Date : {{ currentHistory.event_date_utc | date: 'dd/MM/yyyy' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
